In [11]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("C:/Users/dasar/Documents/DEV/Projects/Food Recommendation System/PP_users.csv",header = 0)
df.head(5)

,u,techniques,items,n_items,ratings,n_ratings
0,0,"[8, 0, 0, 5, 6, 0, 0, 1, 0, 9, 1, 0, 0, 0, 1, ...","[1118, 27680, 32541, 137353, 16428, 28815, 658...",31,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...",31
1,1,"[11, 0, 0, 2, 12, 0, 0, 0, 0, 14, 5, 0, 0, 0, ...","[122140, 77036, 156817, 76957, 68818, 155600, ...",39,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...",39
2,2,"[13, 0, 0, 7, 5, 0, 1, 2, 1, 11, 0, 1, 0, 0, 1...","[168054, 87218, 35731, 1, 20475, 9039, 124834,...",27,"[3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ...",27
3,3,"[498, 13, 4, 218, 376, 3, 2, 33, 16, 591, 10, ...","[163193, 156352, 102888, 19914, 169438, 55772,...",1513,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ...",1513
4,4,"[161, 1, 1, 86, 93, 0, 0, 11, 2, 141, 0, 16, 0...","[72857, 38652, 160427, 55772, 119999, 141777, ...",376,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ...",376

In [21]:
df.dtypes

u              int64
techniques    object
items         object
n_items        int64
ratings       object
n_ratings      int64
dtype: object

In [33]:
items = df['items'].apply(lambda x: np.array(eval(x)), 0)

In [61]:
ratings = df['ratings'].apply(lambda x: np.array(eval(x)), 0)

In [51]:
items

0        [1118, 27680, 32541, 137353, 16428, 28815, 658...
1        [122140, 77036, 156817, 76957, 68818, 155600, ...
2        [168054, 87218, 35731, 1, 20475, 9039, 124834,...
3        [163193, 156352, 102888, 19914, 169438, 55772,...
4        [72857, 38652, 160427, 55772, 119999, 141777, ...
                               ...
25071                                     [144172, 154054]
25072                                     [162436, 148228]
25073                                     [162681, 172034]
25074                                     [157808, 159896]
25075                                     [166686, 157084]
Name: items, Length: 25076, dtype: object

In [62]:
ratings

0        [5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...
1        [5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...
2        [3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ...
3        [5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ...
4        [5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ...
                               ...
25071                                           [5.0, 5.0]
25072                                           [5.0, 5.0]
25073                                           [5.0, 5.0]
25074                                           [5.0, 5.0]
25075                                           [4.0, 4.0]
Name: ratings, Length: 25076, dtype: object

In [55]:
item_names = set()
for i in items:
    for j in i:
        item_names.add(j)

In [67]:
np.full((25076,160901), np.nan)

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]])

In [69]:
np.zeros((25076,160901))

MemoryError:

In [60]:
len(item_names)

160901

In [ ]:
160901*25076