<a href="https://colab.research.google.com/github/Ranadheer-senani/Food-Recommendation-system/blob/main/Food_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone 'https://github.com/Ranadheer-senani/Food-Recommendation-system'

Cloning into 'Food-Recommendation-system'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 7 (delta 0), reused 3 (delta 0), pack-reused 0
Unpacking objects: 100% (7/7), done.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/Food-Recommendation-system/PP_users.csv",header = 0)
df.head(5)

   u  ... n_ratings
0  0  ...        31
1  1  ...        39
2  2  ...        27
3  3  ...      1513
4  4  ...       376

[5 rows x 6 columns]

In [3]:
items = df['items'].apply(lambda x: np.array(eval(x)), 0)

In [4]:
ratings = df['ratings'].apply(lambda x: np.array(eval(x)), 0)

In [15]:
items[0]

array([  1118,  27680,  32541, 137353,  16428,  28815,  65803, 148743,
       129939,  99377,  33025, 173660,  46706, 100515, 101276,  93176,
        70383,  24204,      0, 172222,  19472,  90038,  84063,  71578,
        11190,  58387,  27749, 101225,  85204,  89385, 161655])

In [16]:
ratings[0]

array([5., 5., 5., 5., 5., 5., 5., 4., 4., 4., 5., 5., 4., 5., 5., 5., 5.,
       4., 4., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [ ]:
item_names = set()
for i in items:
    for j in i:
        item_names.add(j)

In [8]:
data_mat = np.full((25076,12538), np.nan)

In [9]:
sparse_mat = np.zeros((25076,12538))

In [17]:
for user in range(25076):
  for item,rating in zip(items[user],ratings[user]):
      if item < 12538:
        data_mat[user][item] = rating
        sparse_mat[user][item] = 1